<div>
    <div class="password">
        <h3 class="col-4 col-md-8">Team Name</h3>
        <input class="col-7 col-md-8" [(ngModel)] = 'team.Name' type = 'text'>
    </div>

    <!-- <span> HELLO? {{dbConn.getDownloadUrl() | async}}</span> -->

    <div class="password">
        <h3 class="col-4 col-md-8">Team Pin</h3>
        <input class="col-7 col-md-8" [(ngModel)] = 'team.Pin' type = 'password'>
    </div>


<div class="image-container">
      <h3 class="col-4 col-md-10" for="profile-picture">Upload Profile Picture:</h3>
      <!-- <span > HELLO? {{dbConn.getUploadPercentage() | async}}</span> -->
      
    <div class="image-preview-container col-7">
      <input class="image-input form-control" [(ngModel)] = 'team.Picture' (change)="profileUpload($event)" id="profile-picture" type="file">

     
      <div class="button-cover d-flex">
        <i class="plus-button fa fa-plus-circle"></i>
      </div>

      <div [style.opacity]="profilePicUrl !== undefined ? '1' : '0'" class="image-preview">
          <img  src ="{{profilePicUrl}}" alt="image preview...">
        </div>

    </div>
<!-- 
    <div class="upload-progress">
            <div [style.height] = 'dbConn.getUploadPercentage() | async'class="progress"></div>
        </div> -->

  </div>




  <div class="col-12 submit-button-container" *ngIf= 'dbConn.getDownloadUrl() | async '  (click) = "submit()">
      <div class="submit-button">Submit<span class="submit-text">
        </span></div> 
  </div>

 
</div>

