.nav {
  border: 1px solid black;
  height: 60px;
  margin: 0px !important;
}

.logo {
  height: 100%;
}

#team {
  font-size: 24px;
  color: #fff;
}

#samurai {
  font-size: 36px;
  display: flex;
  height: 36px;
  float: right;
  width: 147px;
  line-height: 2.3;
  color: #fff;
}
