.teamcard{
  padding-left: 28px;
  margin-left: 28px;
  box-shadow: 1px 4px 10px 1px #888888;
}
.team-ID{
  height: 276px;
  border-radius: 134px;
  border: dashed 7px #1a0455;
  padding: 0px;
}






