
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="card teamcard col-md-5 col-sm-5" >
     <div class="row">
        <img class="card-img-top col-md-5 col-sm-6 team-ID" src="../../../assets/img/abashwe.jpg"  alt="Card image cap"><br>
        <div class="card-block col-md-4 col-sm-5">
          <h2 class="card-title">Team name</h2>
          <h5 class="card-text">Averall points: 150 </h5>
          <p class="card-text">Last Sprint Points: 33 </p>
          <a href="#" class="btn moreBtn btn-lg">More</a>
        </div>
     </div>
<!-- <hr> -->
<br>
     <div>
       <h2>Team members</h2>
  <ul class="list-group members">
    <li class="list grout-item"><a class="member" href="">Member 1</a></li>
    <li class="list grout-item"><a class="member" href="">Member 2</a></li>
    <li class="list grout-item"><a class="member" href="">Member 3</a></li>
    <li class="list grout-item"><a class="member" href="">Member 4</a></li>
    <li class="list grout-item"><a class="member" href="">Member 5</a></li>
    <li class="list grout-item"><a class="member" href="">Member 7</a></li>
    <li class="list grout-item"><a class="member" href="">Member 8</a></li>
    <li class="list grout-item"><a class="member" href="">Member 9</a></li>
    <li class="list grout-item"><a class="member" href="">Member 10</a></li>
  </ul>
</div>
      </div>
<br>




</div>
  </div>
