/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100,300|Raleway:100,400');

.encode-sans-expanded{
    font-family: 'Encode Sans Expanded', sans-serif;
}

.font-thin{
    font-weight: 100;
}

.font-light{
    font-weight: 300;
}

.font-regular{
    font-weight: 400;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

.dark-blue{
    background-color: #000051;
}

.blue{
    background-color: #1A237E;
}

.light-blue{
    background-color: #534BAE;
}


.dark-orange{
    background-color: #FFA000;
}

.light-orange{
    background-color: #FFD149;
}


.submit-button{
    width: 100px;
    height:60px;
    background-color: #FFA000;
    border-radius: 10px;
    display:flex;
    align-content: center;
    cursor: pointer;
    color: #fff;
}

.submit-text{
    margin:auto;
}




