<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <div class="card-container">
        <h4 class="raleway font-thin">Team Name</h4>
        <div class="team-logo">
          <img src="../../../../assets/images/Carrot.png">
        </div>
        <h4 class="raleway font-thin">Points: 20</h4>
      </div>

    </div>
    <div class="back">
      <div class="card-container">
        <div class="submit-button ">
          <span class="submit-text">Review</span>
        </div>
        <div class="submit-button ">
          <span class="submit-text">View</span>
        </div>
      </div>
    </div>
  </div>
</div>
