<div class="container">

  <form [formGroup]="ratingForm" (ngSubmit)="submitRating(ratingForm.value)">
    <div class="rating row" *ngFor="let x of criteria;index as l">
      <div class="question row">
        {{x}}.This is a Question
      </div>

      <fieldset formArrayName="stars" class="rating">

        <ng-container *ngFor="let num of [4,3,2,1,0]">

          <input [name]="l" [formControlName]="l" [id]="'star'+(starIds[num]*(l+1))" [value]="num+1" type="radio" />
          
          <label class="full" [for]="'star'+(starIds[num]*(l+1))"></label>

        </ng-container>


      </fieldset>
    </div>
    
    <textarea name="" formControlName="comment" class="form-control comment-block" id="" cols="30" rows="10"></textarea>

    <button class="btn Review-button" style="float:right" [disabled]='!ratingForm.valid' type="submit">Submit</button>

  </form>


</div>


