.rating {
  border-bottom: rgba(236, 136, 22, 0.884);
  display: inline-block;
  text-align: center;
}

.rating > input {
  display: none;
  position: fixed;
  left: 50%;
}

.rating > label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
  text-align: center;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
selection .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.question {
  color: rgba(236, 136, 22, 0.884);
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.comment-block {
  box-shadow: 5px 5px rgba(236, 136, 22, 0.884);
  overflow: hidden;
  margin:20px;
}

margin-top-20{
 margin-top: 20px;
}




.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgba(247, 171, 85, 0.884);
  border-bottom: 16px solid rgba(247, 171, 85, 0.884);
  border-radius: 50%;
  width: 120px;
  height: 120px;
   animation: spin 1s linear infinite; 
  position: absolute;
  left: 45%;
  top:50%;
}

.content{
  animation: slideup 2s 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideup {

  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}
