.rating {
  border-bottom: rgba(236, 136, 22, 0.884);
  display: inline-block;
  text-align: center;
}

.rating > input {
  display: none;
  position: fixed;
  left: 50%;
}

.rating > label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
  text-align: center;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
selection .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.question {
  color: rgba(236, 136, 22, 0.884);
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.comment-block {
  box-shadow: 5px 5px rgba(236, 136, 22, 0.884);
  overflow: hidden;
  margin:20px;
}

padding-top-20{
  padding-top: 20px;
}

hr {
  color: rgba(247, 171, 85, 0.884);
}
