.butt{
    width: 35%;
    height: 50px;
    background-color: #FFA000;
    border-radius: 5px;
    color: #fff;
    margin: 2%;
    /* display:flex; */
    /* align-content: center; */
    /* float:right; */
}

.reviewLabel{
    font-size: 72px;
    margin: 2%; 
}